@import '../../styles/_variables';

.panel-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.panel-title{
  display: flex;
  margin-inline-end: $margin-sm;
}
.panel-action{
  display: flex;
  cursor: pointer;
  align-items: center;
  top:20px;

  :hover {
    color: $button-color-primary-hover;
  }
}
