@import '../../styles/_variables';

$card-close-button-top: 0px;
$card-close-button-right: 0px;

.snackbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $padding-md;
  border-radius: 8px;
  margin: $margin-sm 0;
  color: $white-color;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: $font-size-md;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  min-width: 300px;
  max-width: 400px;
  transition: opacity 0.3s ease-in-out;

  &.success {
    background-color: $success-color;
  }

  &.error {
    background-color: $danger-color;
  }

  .message {
    flex: 1;
  }

  .close-button {
    position: absolute;
    top: $card-close-button-top;
    right: $card-close-button-right;
    background: none;
    border: none;
    font-size: $font-size-xl;
    cursor: pointer;
    color: $white-color;

    &:hover {
      color: $gray-color;
    }
  }
}




