@import '../../styles/mixins';
@import '../../styles/variables';

$card-height: 200px;
$card-border-radius: 8px;
$card-border-color: #d6d5d5;
$card-background: $white-color;
$card-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
$card-hover-scale: 1.05;

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  height: $card-height;
  max-width: 1200px;
  width: 330px;
  border: 1px solid $card-border-color;
  border-radius: $card-border-radius;
  box-shadow: $card-box-shadow;
  overflow: hidden;
  background-color: $card-background;
  padding: $padding-md;
  transition: transform 0.3s ease-in-out;

  &.row {
    width: 100%;
  }

  &:hover {
    transform: scale($card-hover-scale);
  }

  .card-header {
    flex: 1;
  }

  .card-content{
    flex: 2;
  }

  @media (max-width: 480px) {
    .card {
      width: 380px;
    }
  }

  @media (min-width: 481px) and (max-width: 768px) {
    .card {
      width: 360px;
    }
  }
}
