@import '../../../../styles/variables';

.card-wrapper{
  margin-block-end: $margin-lg;
  .card-content{
    display: flex;
    flex-direction: column;
    height: 100%;
    flex-wrap: wrap;

    .card-row {
      display: flex;
      justify-content: space-between;
      flex: 1;
      &.position-start {
        align-items: start;
      }
      &.position-end {
        align-items: end;
      }
      .title{
        margin:0
      }
      .state {
        border-radius: 50px;
        padding: $padding-sm;
        color: $white-color;
        &.created{
          background-color: $orange-color
        }
        &.in-progress{
          background-color: $green-color
        }
        &.completed{
          background-color: $gray-color
        }
      }
      .notes{
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        max-height: calc(1.3em * 3);
        line-height: 1.3em;
        color: $gray-color;
      }
      .card-actions{
        cursor: pointer;
        :hover {
          color: $button-color-primary-hover;
        }
        margin-bottom: -5px;
      }
    }
  }
}


