@import '../../styles/_mixins';
@import '../../styles/_variables';

// Base spinner class
.spinner {
  &-small {
    @include spinner(10px, 2px);
  }

  &-medium {
    @include spinner(20px, 3px);
  }

  &-large {
    @include spinner(30px, 4px);
  }

  &-fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - $navbar-height);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
  }
}
