@import './variables';

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin spinner($size: 30px, $thickness: 2px) {
    display: inline-block;
    border: $thickness solid #f3f3f3;
    border-top-color: $primary-color;
    border-radius: 50%;
    width: $size;
    height: $size;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}



