// Color Palette
$primary-color: #232441;
$button-color-primary: #3f4077;
$button-color-primary-hover: #373987;
$button-color-secondary: #a5a2a2;
$button-color-secondary-hover: #7e7c7c;
$button-color-disabled: #6c757d;
$background-color: #f5f5f5;
$white-color: #ffffff;
$orange-color: #fd7e14;
$green-color: #28a745;
$gray-color: #6c757d;

//Form
$form-bg-color: #ffffff;
$form-text-color: #333333;
$form-border-color: #dddddd;
$form-error-color: #dc3545;

//Alert
$success-color: #28a745;
$danger-color: #dc3545;

// Spacing
$padding-xs: 4px;
$padding-sm: 8px;
$padding-md: 16px;
$padding-lg: 24px;
$padding-xl: 32px;

$margin-xs: 4px;
$margin-sm: 8px;
$margin-md: 16px;
$margin-lg: 24px;
$margin-xl: 32px;

// Font Size
$font-size-sm: 12px;
$font-size-md: 16px;
$font-size-lg: 20px;
$font-size-xl: 24px;

// General
$default-font: "Lato", sans-serif;
$navbar-height: 72px;
